From [Link](https://softhints.com/display-two-pandas-dataframes-side-by-side-jupyter-notebook/)

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz'],
                    'value': [1, 2, 3]})

df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz'],
                    'value': [5, 6, 7]})

In [3]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3

In [4]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7

In [5]:
import pandas as pd   
from IPython.display import display_html 


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('df1')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('df2')
df2_t_styler = df2.T.style.set_table_attributes("style='display:inline'").set_caption('df2_t')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)
display_html(df1_styler._repr_html_()+df2_styler._repr_html_() +df2_t_styler._repr_html_(), raw=True)

,lkey,value
0,foo,1
1,bar,2
2,baz,3
,rkey,value
0,foo,5
1,bar,6
2,baz,7

In [6]:
df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('df1')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('df2')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,lkey,value
0,foo,1
1,bar,2
2,baz,3
,rkey,value
0,foo,5
1,bar,6
2,baz,7

In [17]:
df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('confusion matrix')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('normalized confusion matrix').format(precision=2)

space = "\xa0" * 15
display_html(df1_styler._repr_html_() + space  + df2_styler._repr_html_(), raw=True)

print()
print("something")

,lkey,value
0,foo,1
1,bar,2
2,baz,3
,rkey,value
0,foo,5
1,bar,6
2,baz,7

something